:root {
  &[data-theme="light"] {
    --background: #ffffff;
    --background-secondary: #f6f8fa;
    --foreground: #171717;
    --border: #e1e5e9;
    --background-blur: rgba(255, 255, 255, 0.8);
  }
  &[data-theme="dark"] {
    --background: #0a0a0a;
    --background-secondary: #1f2937;
    --foreground: #ededed;
    --border: #374151;
    --background-blur: rgba(10, 10, 10, 0.8);
  }
}

html,
body {
  max-width: 100vw;
  // overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
