:global(.tiptap) {
  .codeBlock {
    position: relative;

    select {
      position: absolute;
      background-color: var(--background);
      color: var(--foreground);
      border: 1px solid var(--border);
      right: 0.5rem;
      top: 0.5rem;
      padding: 0.25rem 1.5rem 0.25rem 0.5rem;
      border-radius: 4px;
      font-size: 0.75rem;
      appearance: none;
      cursor: pointer;
      
      &:focus {
        outline: none;
        border-color: var(--color-primary);
        box-shadow: 0 0 0 2px var(--color-primary-light);
      }
      
      &:hover {
        background-color: var(--background-secondary);
        border-color: var(--border);
      }
      
      option {
        background-color: var(--background);
        color: var(--foreground);
      }
    }
  }
}
