.button-primary {
  border-radius: 6px;
  cursor: pointer;
  line-height: 100%;
  transition: all 0.2s;
  font-size: 12px;

  background: var(--background-secondary);
  color: var(--foreground);
  border: 1px solid var(--border);

  display: flex;
  align-items: center;

  &:hover {
    :root[data-theme="light"] & {
      filter: brightness(0.95);
    }
    :root[data-theme="dark"] & {
      filter: brightness(1.2);
    }
  }
}
.button-size-large {
    height: 32px;
    padding: 0px 16px;
  }
  
.button-size-medium {
  height: 24px;
  padding: 0px 12px;
}
